@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(./Assets/Img/bg.png);
  background-attachment: fixed;
}
.shlfNav{
  font-family: 'Charmonman', cursive;
  height: 70px;
  background-color: rgba(19, 19, 19, 0.829);

}
.shlfNav h2{
  direction: ltr;
  padding: 15px 10px;
  color: rgb(231, 231, 231);
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bolder;
  font-size: 27px;
}
.logo{
  display: flex;
  justify-content: space-around;
  text-align: center;
  height: 40px;
  background-color: rgb(26, 83, 26);
}
.navbar{
 list-style: none;
 display: flex;
 justify-content: space-around;
 width:  50%;
 line-height: 40px;
}
.navbar a{
  font-family: Tahoma ;
  text-decoration: none;
  color: rgb(231, 231, 231);
  font-size: 12px;
  font-weight: bold;
}
.fullPage{
  background-color: rgba(184, 23, 84, 0.342);
  width: 90%;
  height: 1000px;
  border: 5px solid green;
  position: relative;
  margin :2% auto;
}
.bookInfo_box{

  position: relative;
  margin: 2% auto;
  width: 95%;
  height: 400px;
  border: 3px solid black; 
}
.bookPics{
  direction: rtl;
  position: absolute;
  margin: 3% 77% ;
  width: 20%;
  height: 70%;
  border: 1px solid black;
}

.moreInfo_box{
  position: relative;
  margin: 2% auto;
  width: 95%;
  height: 400px;
  border: 3px solid black; 

}
.mb_navbar{
  width: 100%;
  height: 50px;
  border-bottom: 2px solid darkmagenta;
}
.mb_navLinks{
  direction: rtl;
  display: flex;
  list-style: none;

}
.mb_navLinks a{
  text-decoration: none;
  font-weight: bolder;
  padding: 13px 30px;
  border: 2px solid transparent;
 line-height: 51px;
  color: black;
}
.mb_navLinks a:hover{
  border-radius: 10%;
  border: 2px solid orange;
  background-color:darkred;
  color: rgb(233, 231, 231);
}

.rate{
  width:  93%;
  max-width: 350px;
  text-align: center;
  margin: 4% auto;
  padding: 40px 0;
  background: #111;
  color: #eee;
  border-radius: 5px;
  border: 2px solid #444;
  margin-top: 25px;
}

div.stars{
  width: 270px;
  display: inline-block;
}
input.star{
  display: none;
}
label.star{
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all 0.2s;
}
input.star:checked ~ label.star::before{
  content: '\f005';
  color: #fd4;
  transition: all 0.2s;
}

input.star-5:checked ~ label.star::before{
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
label.star::before{
  content: '\f006';
  font-family: FontAwesome;
}
input.star-2:checked ~ label.star::before{
  color: #f62;
}

.rating{
  margin-left:78%;
  margin-top: 28%;
  size: 3000px;
}