@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
}

.shlfNav{
  font-family: 'Charmonman', cursive;
  height: 70px;
  background-color: rgba(19, 19, 19, 0.829);

}
.shlfNav h2{
  direction: ltr;
  padding: 15px 10px;
  color: rgb(231, 231, 231);
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bolder;
  font-size: 27px;
}
.logo{
  display: flex;
  justify-content: space-around;
  text-align: center;
  height: 40px;
  background-color: rgb(26, 83, 26);
}
.navbar{
 list-style: none;
 display: flex;
 justify-content: space-around;
 width:  50%;
 line-height: 40px;
}
.navbar a{
  font-family: Tahoma ;
  text-decoration: none;
  color: rgb(231, 231, 231);
  font-size: 12px;
  font-weight: bold;
}